body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

.flexible-container {
    display: flex;
    padding: 20px;
    margin-bottom: 150px;
}

h1{
    font-size: 50px;

}

h2{
    margin-left: 5%;
}
.name-highlight{
    color: orange;
}

.highlight{
    color: rgb(102, 54, 54);
}

.name-highlightt{
    color:rgb(104, 178, 207);
}


.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    color:rgb(189, 95, 79);
    

}

.half-width img {
    width: 100%;
    border-radius: 600px;

}

.top-banner{
    
    background-image: url("Images/bccc.jpg");
    background-repeat: repeat;
}




section{
 height: 550px;
}

.become{
    height: 550px;



}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg,orange,yellow);
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    

}

.link-buttonn{
    text-decoration: none;
    background-image: linear-gradient(rgb(196, 213, 224),rgb(57, 140, 235));
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    
}

.half-widthh img {
    width: 100%;
    margin-top: -20%;
    border-radius: 200px;


 

}

.half-widthh{
    width: 20%;
    float: left;
    margin-left: 17%;
    padding-left: 5%;

color: rgb(31, 77, 114);


}

.half-widthsingle {
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
 box-shadow: 10px 10px 40px rgb(50, 51, 48);
 height: 50%;
 border-radius: 20px;
}

#full{
    border-left: 7px solid;
    border-image: linear-gradient(180deg,rgb(87, 44, 33),tomato);
border-image-slice:1;
}


#novice{
    border-left: 7px solid;
    border-image: linear-gradient(180deg,rgb(91, 91, 98),skyblue);
border-image-slice:1;
}

footer p {
    text-align: center;
    font-size: 12px;
}
